.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-containerRlc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form button, .advanced-search-form button, .btn {
  margin-right: 10px;
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form button:hover, .advanced-search-form button:hover, .btn:hover {
  background-color: #40a9ff;
}

.pin{
  position: relative;
}

.error-message {
  position: absolute;
  bottom: 0px;
  left: 8px;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}


.results-table th, .results-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.results-table th {
  background-color: #f2f2f2;
}

.results-table input {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s;
}
.topTh{
  padding-bottom: 10px !important;
}
option {
  gap: 10px !important;
}

.results-table input:focus {
  border-color: #40a9ff;
}

.details-button, .btn {
  background-color: #1890ff;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.advanced-search-form {
  display: none; 
}

.advanced-search-form.show {
  display: block; 

}

.details-button:hover, .btn:hover {
  background-color: #40a9ff;
}

.nowrap {
  white-space: nowrap;
}

.searchBtn {
  background-color: #2d5c30 !important;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
}

.advanced-search-form .grid-container > div {
  display: flex;
  flex-direction: column;
}

.searchBtns {
  display: flex;
  justify-content: end;
}

.react-select__control {
  min-width: 200px;
}

.react-select__placeholder {
  color: #999;
}
