
.Header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 10px 0;
  background-color: #ffffff;
  border-bottom: 2px solid #ddd;
}

.gerb-icon {
  width: 50px; 
  height: 50px;
}

.Header span {
  font-family:  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.5; 
  font-weight: 500;
}
.headerLogo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.selectSocialBtns {
  display: flex;
  gap: 20px; 
}

.selectSocialBtns a {
  padding: 10px 20px; 
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  color: black;
  transition: background-color 0.3s ease;
  cursor: pointer;
text-decoration: none;
font-weight: 500;
}

.selectSocialBtns a:hover {
  color: #1890ff;
}
