.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-wrapper{
  display: flex;
}
.map-wrapper {
  position: relative;
  height: calc(100vh - 50px);
  overflow: hidden;

  background-color: white;
  margin: 10px 0px;
  width: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.custom-popup .leaflet-popup-tip-container {
  display: none;
}

.custom-popup .leaflet-popup-content {
  margin: 5px;
}
