.FooterContent{
    width: 79%;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
}
.Footer{
    display: flex;
    justify-content: center;
    background-color: rgb(249, 249, 249);
    margin-top: 25px;
    padding-bottom: 10px;
}
.Footer span{
    font-weight: 600;
}
